/* 
   $Id$
   default text styles - background and colors overriden by
   album 'bgcolor', 'background', and 'textcolor' properties.
*/
BODY  
	{ 
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 10pt;
	  color:#C75517;
	  font-weight:bold;
	  background-color: #ffffff;
	  margin-top: 25px;
	  margin-left: 0px;
	  margin-right: 0px;
	}
TD, P 
	{ 
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 10pt; 
	}
/* 
   link colors - overridden by the album 'linkcolor' property.
*/
A   	{ color: #D8C4AE; text-decoration: none; }
A:link	{ color: #D8C4AE; text-decoration: none; }
A:visited { color: #D8C4AE; text-decoration: none; }
A:active { color: #D8C4AE; }
A:hover	{ color: #C0C0C0; }
/* 
   text styles 
*/
.title                          /* album titles on main page */
	{ 
	  background-image: url(../images/mod_titlemid.jpg);
	  line-height:140%;
	  padding:2px;
	  margin-top:2px;
	  width: 100%;
	}
.title a,
.title a:link,
.title a:visited,
.title a:active {
	  font-family:verdana, arial, sans-serif;
	  color:#D8C4AE;
	  font-size:x-small;
	  font-weight:bold;
	  letter-spacing: .2em;  
	  text-decoration: none;
	}
.title a:hover {
	  color: #C0C0C0;
	  text-decoration: none;
	} 
.mod_title	/* album title  Text is controled by .title */ 
	{ 
          background-image: url(../images/mod_titlebar.jpg);
          width: 100%;
          height: 28px;
	}
.mod_title_bg	/* album title hightlight Text is controled by .title */ 
	{ 
	}
.mod_title_right  /* album title hightlight  Text is controled by .title*/ 
	{ 
	}
.mod_title_left  /* album title hightlight  Text is controled by .title */ 
	{ 
	}
.albumdesc  /*album description includes all text and background*/
	{
	  font-family:verdana, arial, sans-serif;
	  color:#D8C4AE;
	  font-size:x-small;
	  font-weight:bold;
	  background-color: #ffffff;
	  line-height:140%;
	  padding:2px;
	  margin-top:2px;		
	  border:0px solid #D8C4AE;
	}
.desc  /* album descriptions on main page just description and author*/
	{ 
	  font-family:verdana, arial, sans-serif;
	  color:#D8C4AE;
	  font-size:x-small;
	  font-weight:bold;
	  line-height:140%;
	  padding:2px;
	  margin-top:2px;		
	  letter-spacing: .2em; 
	}
.caption  /* photo captions on all pages */
	{ 
	  font-size: 10px; 	
	}
.modcaption  /* modifies background for caption text to reside */
	{
	  font-family:verdana, arial, sans-serif;
	  color: #D8C4AE;
	  font-size: 10px;
	  font-weight:bold;
	  background-color: #ffffff;
	  line-height:140%;
	  padding:2px;
	  margin-top:2px;		
	  border:0px dashed #D8C4AE;
	}
.error  /* all error text */
	{ 
	  color: red; 
	  font-size: 12px; 
	}
.attention /* voting instructions */
	{
	}
.headbox  /* box around the page headers */
	{
	}
.head  /* page headers behind the Gallery title*/
	{ 
	  font-family:verdana, arial, sans-serif;
	  color:#D8C4AE;
	  font-size: 16px;
	  font-weight:bold;
	  background-image: url(../images/mod_titlebar.jpg);
	  line-height:140%;
	  letter-spacing: .2em;
	  border:0px dashed #D8C4AE;
	  height: 28px;  
	}
.head a,
.head a:link,
.head a:visited,
.head a:active 
	{
	  font-weight: normal;
	  color:#D8C4AE;
	  text-decoration: none;
	}
.head a:hover
	{
	  font-weight: normal;
	  color: #C0C0C0;
	  text-decoration: underline;
	}
.mod_headliner  /* Gallery & Album titles. Text is controled by .head */ 
	{ 
	  background-image: url(../images/mod_titlebar.jpg);
	  width: 100%;
	  height: 28px;
	}
.mod_toplight_bg  /* Gallery & Album titles. Text is controled by .head */ 
	{ 
	}
.mod_toplight_right  /* Gallery & Album titles. Text is controled by .head*/ 
	{ 
	}
.mod_toplight_left  /* Gallery & Album titles. Text is controled by .head */ 
	{ 
	}
.bread  /* used in breadcrumb bars */
	{ 
	  font-size: 10px; 
	}
.bordertop
	{
	}
.borderright
	{
	}
.borderleft
	{
	}
.fineprint  /* used for fine print */
	{ 
	  font-size: 10px; 
	}

.popuphead {
    font-size: 16px; font-weight: bold;
    color: #D8C4AE;
    background-image: url(../images/mod_titlebar.jpg);
}

.popup
	{
	  font-size: 12px;
	  font-weight: bold;
	  color: #D8C4AE;	  
	}
.editlink  /* Used for the [edit] tags */
.editlink a,
.editlink a:link,
.editlink a:visited,
.editlink a:active
	{
	  font-size: 10px;
	  font-weight: normal;
	  color: #D8C4AE;	  
	}
.modnavbox  /* main navigation bar next and previous */ 
	{ 
	  font-family:verdana, arial, sans-serif;	
	  color:#D8C4AE;
	  font-size: 12px; 
	  font-weight:bold;
	  background-image: url(../images/mod_navbar.jpg);
	  line-height:140%;
	  letter-spacing: .2em;
	  border:0px dashed #D8C4AE;
	  width: 100%;
	  height: 14px;
	}
.modnavbox a,
.modnavbox a:link,
.modnavbox a:visited,
.modnavbox a:active {
	  font-weight: normal;
	  color:#D8C4AE;
	  text-decoration: none;
	}
.modnavbox a:hover {
	  font-weight: normal;
	  color: #D8C4AE;
	  text-decoration: underline;
	}
.admin  /* used in admin bars - the serch text*/
	{ 
	  font-size: 10px;
	  color: #EDE1A9; 
	  font-weight: bold;
	}

.adminform
        {
          font-size: 10px;
          font-weight: bold;
          color: #9C925E;
        }
.search  /* used in admin bars - the serch text*/
	{ 
	  font-size: 10px;
	  color: #D8C4AE;
	  font-weight: bold;
	}
.leftspacer /* amount of space to the left of the header and titles */
	{
	  width: 50px;
	}
.modnavboxtop  /*navagation bar top of screen where admin buttons show*/
	{ 
	  font-family:verdana, arial, sans-serif;
	  color: #D8C4AE;
	  font-size: 10px;
	  font-weight:bold;
	  background-color: #ffffff;
	  line-height:140%;
	  letter-spacing: .1em;
	  border:0px dashed #D8C4AE;
	  width: 100%  
	}
.modnavboxtop a,
.modnavboxtop a:link,
.modnavboxtop a:visited,
.modnavboxtop a:active {
	  font-weight: normal;
	  color: #D8C4AE;
	  text-decoration: none;
	}
.modnavboxtop a:hover {
	  font-weight: normal;
	  color: #C0C0C0;
	  text-decoration: none;
	}
.modnavboxmid  /*navagation bar middle where the link for the albums show*/
	{ 
	  font-family:verdana, arial, sans-serif;
	  color: #D8C4AE;
	  font-size: 10px;
	  font-weight:bold;
	  background-color: #ffffff;
	  line-height:140%;
	  border:0px dashed #D8C4AE;
	  width: 100%  
	}
.modnavboxmid a,
.modnavboxmid a:link,
.modnavboxmid a:visited,
.modnavboxmid a:active {
	  font-weight: normal;
	  color:#D8C4AE;
	  text-decoration: none;
	}
.modnavboxmid a:hover {
	  font-weight: normal;
	  color: #C0C0C0;
	  text-decoration: underline;
	}
.modfooter  /*footer where the Gallery version is located*/
	{ 
	  font-family:verdana, arial, sans-serif;
	  color:#D8C4AE;
	  font-size: 8px;
	  font-weight:normal;
	  background-color: #ffffff;
	  line-height:140%;
	  padding:2px;
	  border:0px dashed #D8C4AE;
	  width:100%   
	}
.modfooter a,
.modfooter a:link,
.modfooter a:visited,
.modfooter a:active {
	  color:#D8C4AE;
	  text-decoration: none;
	}
.modfooter a:hover {
	  color: #C0C0C0;
	  text-decoration: none;
	}

.pview /* brackets both the image and all text in one frame */
{
	margin:7px;
	padding: 7px;
 }

.pcaption /* brackets all text below photo */
{ 
	padding:2px;
	margin-top:2px;
 }

.vatable /* width of the div set for all photo sets - view albums  */
 { 
 	width: 100%;
 }

.vathumbs /* full background bracket for images and text - veiw albums  */
 { 
	margin:17px;
 }

.vafloat /* float for view album - text */
 {
	float: none;
 }

.vafloat2 /* float for view album - images */
 {
 	float: none; 
 }

.vasummary /* controls the view of Album summary */
{
        font-weight:bold;
        padding:2px;
        margin-top:10px;
        width:80%;
}
