/* 
   $Id$
   default text styles - background and colors overriden by
   album 'bgcolor', 'background', and 'textcolor' properties.
*/
BODY  
	{ 
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 10pt;
	  color:#ffffff;
	  font-weight:bold;
	  background-image: url('../images/mod_background.jpg');
	  margin-top: 25px;
	  margin-left: 0px;
	  margin-right: 0px;
	}
TD, P 
	{ 
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 10pt; 
	}
/* 
   link colors - overridden by the album 'linkcolor' property.
*/
A   	{ color: #C0C0C0; text-decoration: none; }
A:link	{ color: #C0C0C0; text-decoration: none; }
A:active { color: #C0C0C0; }
A:hover	{ color: #FFFFFF; }
/* 
   text styles 
*/
.title                          /* album titles on main page */
	{ 
	  line-height:140%;
	  padding:2px;
	  margin-top:2px;
	  width: 100%;
	}
.title a,
.title a:link,
.title a:visited,
.title a:active {
	  font-family:verdana, arial, sans-serif;
	  font-size:x-small;
	  font-weight:bold;
	  letter-spacing: .2em;  
}

.mod_title	/* album title  Text is controled by .title */ 
	{ 
          background-image: url(../images/mod_titlebar.jpg);
          width: 100%;
          height: 28px;
	}
.mod_title_bg	/* album title hightlight Text is controled by .title */ 
	{ 
	}
.mod_title_right  /* album title hightlight  Text is controled by .title*/ 
	{ 
	}
.mod_title_left  /* album title hightlight  Text is controled by .title */ 
	{ 
	}
.albumdesc  /*album description includes all text and background*/
	{
	  font-family:verdana, arial, sans-serif;
	  color:#ffffff;
	  font-size:x-small;
	  font-weight:bold;
	  background-color: #92846A;
	  line-height:140%;
	  padding:2px;
	  margin-top:2px;		
	  border:0px solid #000000;
	}
.desc  /* album descriptions on main page just description and author*/
	{ 
	  font-family:verdana, arial, sans-serif;
	  color:#ffffff;
	  font-size:x-small;
	  font-weight:bold;
	  line-height:140%;
	  padding:2px;
	  margin-top:2px;		
	  letter-spacing: .2em; 
	}
.caption  /* photo captions on all pages */
	{ 
	  font-size: 10px; 	
	}
.modcaption  /* modifies background for caption text to reside */
	{
	  font-family:verdana, arial, sans-serif;
	  color: #ffffff;
	  font-size: 10px;
	  font-weight:bold;
	  background-color: #363636;
	  line-height:140%;
	  padding:2px;
	  margin-top:2px;		
	  border:0px dashed #000000;
	}
.error  /* all error text */
	{ 
	  color: red; 
	  font-size: 12px; 
	}
.attention /* voting instructions */
	{
	}
.headbox  /* box around the page headers */
	{
	}
.head  /* page headers behind the Gallery title*/
	{ 
	  font-family:verdana, arial, sans-serif;
	  color:#ffffff;
	  font-size: 16px;
	  font-weight:bold;
	  background-image: url(../images/mod_titlebar.jpg);
	  line-height:140%;
	  letter-spacing: .2em;
	  border:0px dashed #000000;
	  height: 28px;  
	}

.head a {
}

.mod_headliner  /* Gallery & Album titles. Text is controled by .head */ 
	{ 
          background-image: url(../images/mod_titlebar.jpg);
          width: 100%;
          height: 28px;
	}
.mod_toplight_bg  /* Gallery & Album titles. Text is controled by .head */ 
	{ 
	}
.mod_toplight_right  /* Gallery & Album titles. Text is controled by .head*/ 
	{ 
	}
.mod_toplight_left  /* Gallery & Album titles. Text is controled by .head */ 
	{ 
	}
.bread  /* used in breadcrumb bars */
	{ 
	  font-size: 10px; 
	}
.bordertop
	{
	}
.borderright
	{
	}
.borderleft
	{
	}
.fineprint  /* used for fine print */
	{ 
	  font-size: 10px; 
	}

.popupbody {
    color: #FFFFFF;
}

.popuphead{
    background-image: url(../images/mod_titlebar.jpg);
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin: 2px;
}

.popup {
	  font-size: 12px;
	  font-weight: bold;
	  color: #BBBBBB;	  
	}
.editlink,  /* Used for the [edit] tags */
.editlink a,
.editlink a:link,
.editlink a:visited,
.editlink a:active
	{
	  font-size: 10px;
	  font-weight: normal;
	  color: #ffffff;	  
	}

.modnavbox  /* main navigation bar next and previous */ 
	{ 
	  font-family:verdana, arial, sans-serif;	
	  color:#ffffff;
	  font-size: 12px; 
	  font-weight:bold;
	  background-image: url(../images/mod_navbar.jpg);
	  line-height:140%;
	  letter-spacing: .2em;
	  border:0px dashed #000000;
	  width: 100%;
	  height: 14px;
	}
.modnavbox a
}

.admin  /* used in admin bars - the serch text*/
	{ 
	  font-size: 10px;
	  color: #ffffff; 
	  font-weight: bold;
	}
.adminform
        {
          font-size: 10px;
          font-weight: bold;
          color: #551F1F;
        }
.search  /* used in admin bars - the serch text*/
	{ 
	  font-size: 10px;
	  color: #ffffff; 
	  font-weight: bold;
	}
.leftspacer /* amount of space to the left of the header and titles */
	{
	  width: 50px;
	}
.modnavboxtop  /*navagation bar top of screen where admin buttons show*/
	{ 
	  font-family:verdana, arial, sans-serif;
	  color: #ffffff;
	  font-size: 10px;
	  font-weight:bold;
	  background-color: #92846A;
	  line-height:140%;
	  letter-spacing: .1em;
	  border:0px dashed #000000;
	  width: 100%  
	}
.modnavboxtop a {
}

.modnavboxmid  /*navagation bar middle where the link for the albums show*/
	{ 
	  font-family:verdana, arial, sans-serif;
	  color: #ffffff;
	  font-size: 10px;
	  font-weight:bold;
	  background-color: #363636;
	  line-height:140%;
	  border:0px dashed #000000;
	  width: 100%  
	}

.modnavboxmid {
	}

.modfooter  /*footer where the Gallery version is located*/
	{ 
	  font-family:verdana, arial, sans-serif;
	  color:#ffffff;
	  font-size: 8px;
	  font-weight:normal;
	  background-color: #92846A;
	  line-height:140%;
	  padding:2px;
	  border:0px dashed #000000;
	  width:100%   
	}
.modfooter a,
.modfooter a:link,
.modfooter a:visited,
.modfooter a:active {
	  color:#ffffff;
	  text-decoration: none;
	}
.modfooter a:hover {
	  color: #C0C0C0;
	  text-decoration: none;
	}

.pview /* brackets both the image and all text in one frame */
{
	margin:7px;
	padding: 7px;
 }

.pcaption /* brackets all text below photo */
{ 
	padding:2px;
	margin-top:2px;
 }

.vatable /* width of the div set for all photo sets - view albums  */
 { 
 	width: 100%;
 }

.vathumbs /* full background bracket for images and text - veiw albums  */
 { 
	margin:17px;
 }

.vafloat /* float for view album - text */
 {
	float: none; 
 }

.vafloat2 /* float for view album - images */
 {
 	float: none; 
 }
.vasummary /* controls the view of Album summary */
{
        font-weight:bold;
        padding:2px;
        margin-top:10px;
        width:80%;
}

#adminbox {
}

#adminbox td {
    color:#ffffff;
    font-size: 12px;
    background-color: #490D03;
}
