# $Id$
<IfModule sapi_apache2.c>
php_value auto_prepend_file	./php_value_ok.php
php_value magic_quotes_gpc off
</IfModule>

<IfModule mod_php4.c>
php_value auto_prepend_file	./php_value_ok.php
php_value magic_quotes_gpc off
</IfModule>

<IfModule mod_php5.c>
php_value auto_prepend_file	./php_value_ok.php
php_value magic_quotes_gpc off
</IfModule>

Options +FollowSymLinks
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^(index.php)$			index.php?init_mod_rewrite=1&ampersandbroken=    [QSA]
RewriteRule ^$					index.php?init_mod_rewrite=1&ampersandbroken=    [QSA]
</IfModule>
