php_value auto_prepend_file init.php
php_value upload_max_filesize 20971520

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase $GALLERY_URL
RewriteRule ^([^\.\?/]+)/([0-9]+)$	$GALLERY_URL/view_photo.php?set_albumName=$1&index=$2	[QSA]
RewriteRule ^([^\.\?/]+)$	$GALLERY_URL/dev/gallery/view_album.php?set_albumName=$1	[QSA]
</IfModule>
