h2 	{	font-size: 17px;
		text-align: center;
}

BODY	{
	font-family: verdana, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	letter-spacing: normal;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color : #eeeeee;
	color : #000000;
}

td, th	{ border: 1px solid black; }

table, tr, td, p {	font-size: 12px;
			color: #000000;
}
P, address	{ margin: 0px 20px 5px 20px; }

.translated 	{ 	color: black;
			background-color: #eeeeff;
}

.fuzzy	{	color: black;
		background-color: yellow;
}
.untranslated {	color: black;
		background-color: orange;
}
td	{ padding : 5px; }