.table-whole {
        border: 0;
}

.table-header {
        border-bottom: 1px solid #000000;
}

.table-menu {
        border-right: 1px dashed #a0a0a0;
        background: #dfdfdf;
}

.menu-link {
        font-size: 13px;
        color: #505050;
}

.up-up-link, .up-link {
        font-size: 14px;
        color: #505050;
}

.hr-small {
        background: #000000;
        width: 90%;
}
